<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h1>Learn English Language</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p ng-hide="authentication.user" class="lead">
        Start learning some english!
      </p>
      <p ng-show="authentication.user" class="lead">
        Now go choose a course to begin!
      </p>
    </div>
    <!--{{ authentication.user }}-->
    <div class="row">
      <p ng-hide="authentication.user">
        <a class="btn btn-primary btn-lg" ui-sref="authentication.singin">Login</a>
        OR
        <a class="btn btn-primary btn-lg" ui-sref="authentication.signup">Register</a>
      </p>
      <p ng-show="authentication.user">
        <a ng-show="authentication.user.startedCourses.length" ui-sref="courses.list">Continue</a>
        <a class="btn btn-success btn-lg" ng-show="!authentication.user.startedCourses.length" ui-sref="courses.list">Start</a>
      </p>
    </div>
  </div>
<div class="row"></div>
</section>