<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.course.name"></h1>
    <small>
      <em class="text-muted">
        Created on
        <span data-ng-bind="vm.course.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="vm.course.user"
              data-ng-bind="vm.course.user.displayName"></span>
        <span data-ng-if="!vm.course.user">Deleted User</span>
      </em>
    </small>
  </div>

  <div ng-repeat="category in vm.course.categories" ng-init="catId = $index">
    <div ng-repeat="chapter in category.chapters" data-ui-sref="courses.viewchapter({ courseId: vm.course._id, categoryId: catId, chapterId: $index })">
      <img width="80px" height="80px" ng-src="./images/courses/{{chapter.icon}}" alt="Chapter {{chapter.name}} icon">
      <p>{{chapter.name}}</p>
    </div>
  </div>

  <p class="lead" data-ng-bind="vm.course.content"></p>
</section>