<section id="view-chapter">
    <div class="page-header">
        <h1 data-ng-bind="vm.course.name"></h1>
        <h3 data-ng-bind="vm.chapter.name" style="margin-top: 0;"></h3>
    </div>

    <div class="list-group">
        <div ng-repeat="lesson in vm.chapter.lessons" data-ui-sref="courses.viewlesson({ courseId: vm.course._id, categoryId: vm.categoryId, chapterId: vm.chapterId, lessonId: $index })"
            class="list-group-item lesson-item">
            <h3 class="list-group-item-heading" ng-bind="lesson.name"></h3>
            <small class="list-group-item-heading" ng-bind="lesson.description"></small>
        </div>
    </div>

</section>