<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.course.name"></h1>
    <small>
      <em class="text-muted">
        Created on
        <span data-ng-bind="vm.course.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="vm.course.user"
              data-ng-bind="vm.course.user.displayName"></span>
        <span data-ng-if="!vm.course.user">Deleted User</span>
      </em>
    </small>
  </div>

  <div ng-repeat="category in vm.course.categories" class="category" ng-init="catId = $index">
    <h2>{{category.name}}</h2>
    <div ng-repeat="row in vm.chapterRows(category.chapters)" class="row" ng-init="chapters = vm.rowChapters(category.chapters, $index)">
      <div ng-repeat="chapter in chapters" data-ui-sref="courses.viewchapter({ courseId: vm.course._id, categoryId: catId, chapterId: vm.chapterId(category.chapters, chapter) })"
        class="chapter-thumb {{vm.centerChapter(chapters, $index)}}" ng-class="{ 'x2': chapters.length == 1, 'pull-left': !chapter.isSpacer, 'clearfix': chapter.isSpacer }">
        <div ng-if="!chapter.isSpacer">
          <img ng-mouseover="vm.hoverShowCaption($event)" ng-mouseleave="vm.blurHideCaption($event)" class="chapter-icon" ng-src="./images/courses/{{chapter.icon}}"
            alt="Chapter {{chapter.name}} icon">
          <p class="caption">{{chapter.name}}</p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <hr />
  </div>
</section>