.accordion-title {
    line-height: 30px;
}

.chapter, .lesson, .question {
    padding: 0 15px;
    padding-top: 15px;
}

.lesson {
    padding-top: 0;
}

.form-group p.description {
    padding-left: 14px;
}

.manage-btn-group {
    padding-top: 9px;
}